body {
    padding: 0 0 50px 0;
}

.info-block {
    width: 230px;
    height: 70px;
    margin: 15px 30px 0 0;
    border: 1px solid #707070;
}

.info-block::after {
    content: "";
    clear: both;
}

.icon {
    float: left;
    border: 0;
    height: 68px;
    width: 70px;
    border-left: 1px solid #707070;
}

.text {
    width: 158px;
    height: 70px;
    padding: 0 0 0 7px;
    float: left;
}

.text .title {
    font-size: 21px;
    line-height: 31px;
}

.text .number {
    font-size: 26px;
    line-height: 38px;
}

.icon img {
    width: 50px;
    margin: 10px 0 0 10px;
}

.card {
    border-radius: 0;
}

.card-header {
    padding: .5rem 1rem;
}

h2.underlined {
    font-weight: bold;
    border: 0;
    border-bottom: 1px solid #000;
    padding: 5px;
    font-size: 18px;
}

.input-table {
    font-size: .875rem;
    width: 100%;
    border-collapse: collapse;
}

.input-table td {
    border: 1px solid rgba(0,0,0,.125);
}

.input-table tr td:first-child {
    padding-left: 15px;
    padding-right: 15px;
}

.input-table input {
    border: 0;
}

.summary .card-body {
    padding: 0;
}

.summary table {
    width: 100%;
}

.summary table tr {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.summary table td img {
    width: 26px;
}

.summary table tr:last-child {
    border: 0;
}

.summary table td {
    padding: 7px;
}

.summary table tr td:first-child {
    padding-left: 16px;
}

.summary table tr td:last-child {
    padding-right: 16px;
}

.summary table tr td:nth-child(3),
.summary table tr td:nth-child(4) {
    width: 40px;
}

#boq-data {
    display: none;
}

#summary-table tr td:last-child img {
    cursor: pointer;
}

#error,
#error-2,
#meta-error{
    display: none;
}

#add-madal1,
#add-madal2,
#mandal-1,
#mandal-2,
#add-gp {
    display: none;
}

.select2 {
    width:100%!important;
}

.report-header {
    border: 0;
}

.report-header td {
    padding: 5px 10px 5px 0;
}

.report-header tr td:first-child {
    font-weight: bold;
}

.main-report {
    font-size: 13px;
}

.main-report td {
    border: 1px solid #ccc;
    padding: 5px 7px;
}

.centered {
    text-align: center;
}

.table-header {
    background-color: #a6a6a6;
    color: #fff;
    font-weight: bold;
}

.dark-bg {
    background-color: gray;
}

.light-gray-bg {
    background-color: #f2f2f2;
}

.error-input {
    border-color: red!important;
}